/* Container for the signup form */
.signup-container {
    max-width: 300px;
    margin-top: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 32px 40px;
    border: 1px solid #ebe9e9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}

/* General button styles */
button {
    width: 100%;
    padding: 12px;
    font-weight: 600;
    font-size: 13px;
    background-color:rgb(18, 100, 206);
    color: white;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button[type='submit']{
    margin: 0px;
    border-radius: 3px;
}

button:hover {
    background-color: #0a69a0;
}

/* Input fields styling */
.signup-container input{
    width: 100%;
    padding: 11px;
    margin-bottom: 12px;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    height: 42px;
    box-sizing: border-box;
    font-size: 13px;
}

.signup-container input[placeholder='Confirm Password']{
    margin-bottom: 0px;
}

/* Error message styling */
.signup-container .error {
    color: rgb(229, 39, 39);
    margin-top:0px;
    margin-bottom: 15px;
    font-size: 15px;
}

/* Form group styling for better layout */
.signup-container .signup-form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.signup-container h2{
    color: #3b3a3a;
    margin: 0px;
}

.signup-container h3{
    margin: 30px 0px;
    color: #3b3a3a;
}

.signup-container p {
    font-size: 14px;
    color: #3b3a3a;
    margin-top: 10px;
}

#back_to_login{
    margin: 0px;
    margin-top: 15px;
    padding: 0px;
    text-decoration: underline;
    background: none;
    color: #3b3a3a;
}
